.poems--wrapper {
  display: flex;
  flex-direction: column;
  border: solid 1px red;
}

/* NAVIGATION */
.poemnav--wrapper {
  display: flex;
}

.poemnav--wrapper ul {
  display: flex;
  color: yellow;
}

/* POEMS */
.singlepoem--wrapper {
  display: flex;
  flex-direction: column;
}
