.poems--wrapper {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

/* NAVIGATION */
.poemnav--wrapper {
  display: flex;
  max-width: 100%;
  margin: 5px 5px 5px 30px;
}

@media only screen and (max-width: 350px) {
  .poemnav--wrapper {
    margin: 5px 5px 5px 15px;
  }
}

.poemnav--wrapper ul {
  display: flex;
  flex-direction: row;
}

@media only screen and (max-width: 300px) {
  .poemnav--wrapper ul {
    flex-direction: column;
  }
}

.poemnav--wrapper ul > * {
  margin: 5px 10px 5px 0;
}

.poemnav--wrapper ul a {
  text-decoration: none;
  font-weight: bold;
  color: var(--main-red);
}

.poemnav--wrapper ul a:hover {
  color: var(--main-orange);
}

/* POEMS */
.singlepoem--wrapper {
  /* border: solid 1px red; */
  display: flex;
  flex-direction: column;
}

.singlepoem--wrapper h4 {
  font-size: 22px;
  font-weight: bold;
  margin: 30px;
}

@media only screen and (max-width: 350px) {
  .singlepoem--wrapper h4 {
    margin: 15px;
  }
}

.singlepoem--wrapper p {
  margin: 30px;
}

@media only screen and (max-width: 350px) {
  .singlepoem--wrapper p {
    margin: 15px;
  }
}
