.Navbar {
  width: 100%;
  height: 6vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: green;
  list-style-type: none;
  li {
    margin: 0 2%;
    p {
      font-size: clamp(1.5em, 2vw, 2.5em);
      font-weight: bold;
      font-style: italic;
    }
    .selected {
      color: red;
      font-weight: bolder;
    }
  }
}
